<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{device.name}}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="getLatest()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="lastRecord">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-label>{{device.name}}</ion-label>
    </ion-item>  
    <ion-item>
      <ion-label>PV Temperature</ion-label>
      <ion-label>{{lastRecord.data.LM35.toFixed(2)}} C</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>PV Voltage</ion-label>
      <ion-label>{{lastRecord.data.voltage.toFixed(2)}} V</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>PV Current</ion-label>
      <ion-label>{{lastRecord.data.current.toFixed(2)}} mA</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>PV Watts</ion-label>
      <ion-label>{{lastRecord.data.watt.toFixed(2)}} mW</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Light Intensity</ion-label>
      <ion-label>{{lastRecord.data.light}} lux</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Humidity</ion-label>
      <ion-label>{{lastRecord.data.humd.toFixed(2)}} %</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Temperature</ion-label>
      <ion-label>{{lastRecord.data.temp.toFixed(2)}} C</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Last Record</ion-label>
      <ion-label>{{lastRecord.createdAt | date: 'medium'}}</ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-grid *ngIf="lastRecord">
    <ion-row>
        <ion-col>
            <canvas baseChart width="300" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <button ion-button full color="success" (click)="getLatest()">Get Latest graph</button>
        </ion-col>
    </ion-row>
</ion-grid> -->
<!-- <ion-item>
  <ion-label>Graph reading</ion-label>
  <ion-select [(ngModel)]="pvalue" (ionChange)="getValue()">
    <ion-option value="day" [selected]="true">24 hrs</ion-option>
    <ion-option value="week">1 week</ion-option>
    <ion-option value="month">1 month</ion-option>
    <ion-option value="year">1 year</ion-option>
  </ion-select>
</ion-item> -->

<ion-grid *ngIf="lastRecord">
  <ion-row>
    <ion-col>
        <canvas baseChart width="300" height="400"
              [datasets]="lineChartData2"
              [labels]="lineChartLabels2"
              [options]="lineChartOptions2"
              [colors]="lineChartColors2"
              [legend]="lineChartLegend"
              [chartType]="lineChartType2"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </ion-col>
</ion-row>
  <ion-row>
      <ion-col>
          <canvas baseChart width="300" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col>
        <button ion-button full color="success" (click)="getLatest()">Get Latest graph</button>
    </ion-col>
</ion-row>
</ion-grid>

</ion-content>