<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{device.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="lastRecord">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-label>{{device.name}}</ion-label>
    </ion-item>  
    <ion-item>
      <ion-label>Temperature Lm35</ion-label>
      <ion-label>{{lastRecord.data.LM35}} C</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Solar Voltage</ion-label>
      <ion-label>{{lastRecord.data.voltage}} v</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Solar Current</ion-label>
      <ion-label>{{lastRecord.data.current}} mA</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Light Intensity</ion-label>
      <ion-label>{{lastRecord.data.light}} lux</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Humidity</ion-label>
      <ion-label>{{lastRecord.data.humd}} %</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Temperature</ion-label>
      <ion-label>{{lastRecord.data.temp}} C</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Last Record</ion-label>
      <ion-label>{{lastRecord.createdAt | date: 'medium'}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-grid *ngIf="lastRecord">
    <ion-row>
        <ion-col>
            <canvas baseChart width="300" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <button ion-button full color="success" (click)="getLatest()">Get Latest graph</button>
        </ion-col>
    </ion-row>
</ion-grid>

</ion-content>